%h2 Generate Many Simulations

%form{:action => "/mbs/generate"}
	%div#forminput
		%div.inputgroup
			%div.input
				= inputPartial(@inputs["populationsize"])
			%div.input
				=inputPartial(@inputs["infectious"])
			%div.input
				= inputPartial(@inputs["unvaccinated"])
			%div.input
				=inputPartial(@inputs["infectionlength"])
			%div.input
				= inputPartial(@inputs["recoverylength"])
			%div.input
				=inputPartial(@inputs["timetoinfect"])
			%div.input
				= inputPartial(@inputs["frames"])
			
		%div.inputgroup
			%div.input
				= inputPartial(@inputs["simulations"])
			%div.input
				= inputPartial(@inputs["cluster"])
	
	%input{:type => "submit", :value => "Generate"}
